
@{
    ViewData["Title"] = "Sponsorship";
}

<h2>Sponsorship</h2>
<div>
    <h3>About us</h3>
    <span>Power Platform Events are community driven events which aim to educate and share knowledge. The community has a very strict no-recruitment policy; we don't allow recruitment of professionals nor customers. The overall goal is to provide participants with knowledge and experience which is not readily available or easy to learn.</span>
    <span>We prioritize local heroes instead of flying in experts for everything, both to keep the costs down and to reduce the carbon footprint of our events.</span>
    <span>As a result of this we are very picky about sponsors, and don't allow any companies who would use the opportunity to attempt recruitment or spam our members.</span>
</div>
<div>
    <h3>What we want from you</h3>
    <span>Being free, community driven events we rely on sponsors and donors to help us host the events. Sponsorship money/donations are mainly spent on the following (ordered by cost)</span>
    <ol>
        <li>Speakers airplane tickets - For speakers who don't get this covered by their employers, cheapest option</li>
        <li>Speakers accommodation - For speakers who don't get this covered by their employers, decent standard</li>
        <li>Venue - If we need to pay for the use of a venue, we often get this sponsored in its entirety</li>
        <li>Food - Snacks and lunch for participants, we often get this sponsored in its entirety</li>
        <li>Azure credits - For hosting the web page and related content. Currently surviving on MVP credits</li>
    </ol>
    <span>What we won't spend money on (unless you specifically donate for this purpose)</span>
    <ul>
        <li>Drinks</li>
        <li>Benefits</li>
        <li>Gifts</li>
    </ul>
</div>
<div>
    <h3>What you get from us</h3>
    <span>Independent Software Vendors (ISV) are the ones who benefit the most from sponsoring these events. The participants are all in the target audience of ISVs, and many of them have problems that your products can solve right here and now.</span><br />
    <span>We also allow some parties to donate (non-sponsorship), for example consultant companies who want to help build the community through these events.</span><br />
    <span>All sponsors will get promoted through social channels up until the event and at least once after it has finished. Depending on the level/amount of sponsorship we will promote your company up to once per week. Early commitment ensures more weeks in which to be promoted, and a higher commitment gives more frequent promotions.</span><br />
    <span>All sponsors AND donors are listed on our web site. Events are archived and reflect the actual sponsors and donors for each event.</span><br />
    <span>All sponsors will have the option to provide something to donate within our gift bags.</span><br />
    <span>All sponsors AND donors will be given exposure during the keynote.</span><br />
    <span>We request, but don't require, that all sponsors have a representative at the actual event. We want to have a good partnership with our sponsors, and the best way for you to get something in return is to connect with our members.</span><br />
    <span>Donors are listed separately and will also get some media promotion.</span><br />
</div>