@{
    ViewData["Title"] = "Power Platform Saturday Stockholm 2019";
}

<h1>Power Platform Saturday Stockholm</h1>
<h2>October 5th 2019</h2>
<h3>Tentative schedule, changes are expected. <a href="https://sessionize.com/dynamics-power-sweden-2019/">Submit session at sessionize</a></h3>

<h3>Schedule</h3>
<div class="default-session-full"><h2><strong>09:00 - Keynote</strong></h2></div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>09:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>10:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>11:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-full"><h2><strong>12:30 - Lunch</strong></h2></div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>13:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>14:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-grouper">
    <div class="default-session-timeslot"><h3><strong>15:30</strong></h3></div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
    <div class="default-session-part"><h3><strong>&nbsp;</strong></h3>&nbsp;</div>
</div>
<div class="default-session-full"><h2><strong>16:30 - Open Panel</strong></h2></div>
<br /><br /><br /><br /><br /><br />